.container {
    background-color: #34485e;
    padding: 25px;
}

.logoResult {    
    width: 86px;
    height: 58px;
}

.logo-link {
    width: 200px;
    height: 37px;
}
.section-two {
    padding-top:10px;
    padding: 70px;
}

.card { 
    width: 300px;;
}

.item-Card {
    margin-bottom: 50px;
    margin-bottom: 30px;
}

.search-button {
    margin: 10px;
}

.text-feild {
    width: 60vw;
    background-color: white;
    border-radius: 4px;
    margin-left: 20px;
    margin-right: 20px;

    .MuiInputBase-input{
        padding: 10px;
    }
}

.title {
    color: white;
    font-family: monospace;

    padding-bottom: 7px;
}

.section-one {
    padding: 10px;
}

.Progress{
    width: 60px;
    height: 60px;
    align-self: center;
    padding: 50px;
    color: white;
}

.Imp-img{
    width: auto;
}